.content article p {
    hyphens: manual;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 100;
}

.date {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

li {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.footer {
    display: none;
    visibility: hidden;
}

header,
table {
    font-family: 'Source Code Pro', 'Lucida Console', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 3.5rem 0 2.5rem 0;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
